@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin:0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color:#F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

  /* Блок навигация */

.navigation {
  display:flex;
  flex-wrap:wrap;
}

.navigation-logo {
  display: flex;
  margin-left:70px;
  cursor:pointer;
  margin-bottom: -5px;
}

.navigation-logo:hover {
  opacity:0.8;
}

.navigation-logo:active {
  opacity:0.6;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-left: 27px;
  max-width: 480px;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin:0 auto;
  padding:0;
  max-width: 310px;
  margin-right: 70px;
  list-style-type: none;
}

/* Иконки навигации */


.navigation-favorite {
  position:relative;
}

.favorite-counter {
  position: absolute;
  content: "";
  min-width: 20px;
  height: 20px;
  background-color: #7DB54F;
  top: -5px;
  left: 13px;
  border-radius: 10px;
  color:#FFFFFF;
  font-size: 10px;
  line-height: 13px;
  padding: 3px 3px;
  box-sizing: border-box;
  text-align: center;
}

.navigation-search:hover,
.navigation-favorite:hover {
  opacity: 0.7;
}

.navigation-search:active,
.navigation-favorite:active {
  opacity:0.5;
}

.navigation-link {
  position: relative;
  display: flex;
  padding: 20px 18px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.navigation-link[href]:hover {
  color: #756157;
}

.navigation-link[href]:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link-current::before {
  position: absolute;
  bottom:0;
  width: calc(100% - 20px - 20px );
  height: 2px;
  background-color:#756257;
  content: "";
}

.navigation-button {
  margin-left: 18px;
  min-width: 160px;
  min-height: 37px;
}

.navigation-button:hover {
  background-color: #615048;
}

.navigation-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.navigation-button:disabled:hover,
.navigation-button:disabled:active,
.navigation-button:disabled {
  background: #E5E5E5;
  border-radius: 4px;
  color:#FFFFFF;
}

.navigation-user-item {
  padding: 14px 12px;
}

.button {
  padding: 8px 15px 9px;
  background: #756157;
  color: #FFFFFF;
  border: none;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

/* Блок Добро пожаловать */

.welcome-image {
  display: block;
  margin:0 auto;
}

.welcome {
  min-height: 352px;
  padding:51px 70px 82px;
  background-image:url(../images/background-sedona.svg),url(../images/sedona-background.jpg);
  background-color:#82B3D3;
  background-repeat: no-repeat;
  color:#F2F2F2;
  background-size:100% auto,cover;
  background-position:center bottom,center;
}

.title-sedona {
  display:block;
  flex-wrap: wrap;
  margin: 0 auto;
  min-height:132px;
  padding:63px 70px 87px;
}

/* Преимущества Заголовок 1*/

.advantages {
  text-align: center;
}

.advantages-main-title {
  padding-bottom: 31px;
}

.advantages-main-description {
  margin: 0 auto;
  font-weight: 400;
}
/* Список преимуществ */

.advantages-item {
  display: flex;
  flex-wrap: wrap;
}

 .advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0 auto;
 }

.advantages-sublist {
  display: flex;
  flex-wrap:wrap;
  margin: 0;
  padding: 0;
}

.advantages-sublist-container {
  min-width: 260px;
  padding: 80px 70px;
}

.advantages-sublist-container::before {
  content: "";
  display:block;
  width: 75px;
  height: 76px;
  margin: 0 auto 28px;
  background-repeat:no-repeat;
  background-position:center;
}

.advantages-sublist-container-home::before {
  background-image:url("../images/icon/home.svg");
}

.advantages-sublist-container-food::before {
  background-image:url("../images/icon/food.svg");
}

.advantages-sublist-container-souvenir::before {
  background-image:url("../images/icon/souvenir.svg");
}

.advantages-list-container {
  width: 230px;
  padding: 102px 85px;
  min-height: 180px;
}

.advantages-title-sublist {
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description-sublist {
  margin:0 auto;
  font-size: 18px;
  line-height: 21px;
}

.advantages-image {
  display: block;
  height: 100%;
  width: 800px;
  object-fit: cover;
}

.advantages-title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-number {
  display:block;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.advantages-item-highlight {
  min-width: 260px;
  background-color: #82B3D3;
  color: #FFFFFF;
  padding: 92px 70px;
  min-height: 200px;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-main-title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.search-hotel {
  display: block;
  min-width: 1060px;
  min-height:234px;
  padding: 90px 70px 93px;
  background: #FFFFFF;
  text-align: center;
}

.search-hotel-title {
  margin: 0 auto;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-hotel-description {
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.search-hotel-button {
  display: inline-block;
  margin: 0 auto;
  min-width: 544px;
  min-height: 36px;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 15px;
  margin-top:26px;
}

.search-hotel-button:hover {
  background-color:#615048;
}

.search-hotel-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.search-hotel-button:disabled:hover,
.search-hotel-button:disabled:active,
.search-hotel-button:disabled {
  color: #FFFFFF;
  background: #E5E5E5;
  border-radius: 4px;
}

.subscribe {
  display: block;
  min-width: 1060px;
  min-height: 223px;
  padding:94px 70px;
  text-align: center;
  color: #FFFFFF;
  background: url("../images/background-subscribe.jpg");
  background-color: #82B3D3;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0 auto;
  margin-bottom: 46px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-field {
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  border-radius:10px 0 0 10px;
  background-color: #F2F2F2;
  width: 560px;
  border: transparent;
  padding: 20px 20px;
  outline: none;
}

.subscribe-field:hover,
.subscribe-field:focus {
  opacity: 0.8;
}

.subscribe-field:disabled:hover,
.subscribe-field:disabled {
  color: #161414;
  background-color: #F2F2F2;
  opacity: 0.5;
}

.button-green {
  background-color: #7DB54F;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  cursor: pointer;
}

.button-green:hover {
  background-color:#6C9E42;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color:#7DB54F;
}

.button-green:disabled:hover,
.button-green:disabled:active,
.button-green:disabled {
  background: #E5E5E5;
  border-radius: 4px;
  color: #FFFFFF;
}

.button-blue-apply {
  min-width:160px;
  min-height: 48px;
  padding: 14px 15px;
}

.button-blue {
  background-color: #82B3D3;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  cursor: pointer;
}

.button-blue:focus,
.button-blue:hover {
  background-color: #68A2CA;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.button-blue:disabled:hover,
.button-blue:disabled:active,
.button-blue:disabled {
  background: #E5E5E5;
  border-radius: 4px;
  color: #FFFFFF;
}

.subscribe-button {
  min-width: 200px;
  min-height: 60px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 10px 10px 0;
}

.footer-container {
  display:flex;
  width: 1060px;
  justify-content: space-between;
  align-items:center;
  padding: 23px 70px 13px;
}

.footer-social-list{
  display: flex;
  justify-content: center;
  padding: 0;
  list-style-type: none;
  width: 142px;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer-social-copyright{
  text-align: right;
}

.footer-social-item {
  display: flex;
  align-items: center;
  padding: 12px 13px;
}

.icon-vk {
  fill:#83B3D3;
}

.icon-vk:hover {
  fill:#68A2CA;
}

.icon-vk:active {
  fill:rgba(104, 162, 202, 0.3);
}

.icon-telegramm {
  fill:#83B3D3;
}

.icon-telegramm:hover {
  fill:#68A2CA;
}

.icon-telegramm:active {
  fill:rgba(104, 162, 202, 0.3);
}

.icon-youtube {
  fill:#83B3D3;
}

.icon-youtube:hover {
  fill:#68A2CA;
}

.icon-youtube:active {
  fill:rgba(104, 162, 202, 0.3);
}

.footer-phone a {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-phone {
  margin-top:5px;
  margin-bottom:5px;
}

.footer-phone a:hover {
  color: #756157;
}

.footer-phone a:active {
  color: rgba(117, 97, 87, 0.3);
}

.logo-html-academy {
  display:inline-block;
}

.logo-html-academy:hover {
  fill: #756157;
}

.logo-html-academy:active {
  fill: rgba(117, 97, 87, 0.3);
}

.inner-header {
  margin: 0;
  color: #FFFFFF;
}

.navigation-link-catalog::before {
  position: absolute;
  bottom:0;
  width:93px;
  height: 2px;
  background-color:#756257;
  content: "";
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs {
  display:flex;
  align-items:center;
  padding: 0;
  margin: 10px 0 16px;
  position: relative;
  list-style-type: none;
}

.breadcrumbs-link-home::before {
  content: "";
  display:block;
  width: 12px;
  height: 12px;
  background-repeat:no-repeat;
  background-position:center;
}

.breadcrumbs-link-home::before {
  background-image:url("../images/icon/breadcrumbs-home.svg");
  padding-right:10px;
}

.breadcrumbs-item:not(:last-child) {
  content: "";
  display:block;
  background-repeat:no-repeat;
  background-position:right;
  background-image:url("../images/icon/breadcrumbs-arrow.svg");
  padding-right:10px;
  margin-right:10px;
}

a.breadcrumbs-link-home:hover  {
  opacity:0.6;
}

a.breadcrumbs-link-home:active  {
  opacity:0.3;
}

a.breadcrumbs-link:hover {
  opacity:0.6;
}

a.breadcrumbs-link:active {
  opacity:0.3;
}

.breadcrumbs-link {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.main-inner-container {
  padding: 35px 70px 70px;
  color: #FFFFFF;
  background: url("../images/catalog-background.jpg") no-repeat;
  background-size: cover;
  background-color: #6767d5;
  background-repeat: no-repeat;
  height: 298px;
  display: flex;
  flex-wrap: wrap;
}

  /* Фильтр Гостиниц */
.control {
  position: relative;
  display: block;
  padding-left:40px
}

.control-mark {
  position:absolute;
  left: 3px;;
  bottom: 3px;
  width:20px;
  height: 20px;
  background: #FFFFFF;
  cursor: pointer;
}

.control-input:focus + .control-mark {
  outline:4px solid #83B3D3;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"] + .control-mark::before {
  position: absolute;
  right: 3px;
  top: -6px;
}

.control-input[type="checkbox"] + .control-mark {
 border-radius:4px;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content:url("../images/icon/checkmark-filter.svg");
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content:"";
  border-radius:50%;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  top: 5px;
  right: 5px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.hotel-sedona-filter {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.filter {
  margin: 0;
  margin-right: 70px;
  border: transparent;
  padding: 0;
  margin-top: 22px;
}

.filter-price {
  margin-left:100px;
}

.filter-list {
  list-style-type: none;
  padding:0;
  margin: 0;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.filter-item:not(:last-child){
  margin-bottom: 8px;
}

.filter-wrapper-inputs {
  position:relative;
  display: flex;
}

.catalog-filter-title {
  min-width: 116px;
  min-height: 26px;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 34px;
  padding: 0;
}

.catalog-filter-label-text{
  position: absolute;
  right: 12px;
  bottom: 12px;
  color: rgba(255, 255, 255, 0.3);
  z-index: 1;
}

.catalog-filter-label {
  display: flex;
  margin:0;
  position:relative;
}

.catalog-filter-label:hover{
  z-index: 1;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

/* Состояния инпутов */

.price-input:hover {
  border-color:#abb0b3;
}

.price-input:focus {
  box-shadow: 0 0 0 3px #81B3D2,
    inset 0 0 0 3px #81B3D2;
  outline: none;
  z-index: 2;
  border-color:#FFFFFF;
}

.price-input:active {
  background: #756257;
  box-shadow: none;
}

.price-input:disabled:hover,
.price-input:disabled:active,
.price-input:disabled {
  color: #161414;
  background-color: #F2F2F2;
  opacity: 0.5;
  border: none;
}

.price-input::placeholder {
  color: #FFFFFF;
}

/* Инпуты фильтра гостиниц */

.price-input {
  width:144px;
  height:48px;
  padding: 14px 35px 13px 19px;
  appearance:textfield;
  box-sizing: border-box;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  background-color: transparent;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.price-input-before {
  border-radius: 4px 0 0 4px;
}

.price-input-after{
  border-radius: 0 4px 4px 0;
  margin-left: -2px;
}

.range {
  position: relative;
}

.range-scale {
  position: absolute;
  width: 288px;
  height: 4px;
  top: 75px;
  background-color: rgba(255, 255, 255, 0.3);
  left: 0;
}

.range-bar-opacity {
  position: absolute;
  height: 4px ;
  background: #000000;
}

.range-bar {
  position: absolute;
  height: 4px;
  background: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width:20px;
  height: 20px;
  border-radius: 5px;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.range-toggle:focus {
  border: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.range-toggle:hover {
  background-color: #E5E5E5;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.toggle-min {
  top: -8px;
  left:0;
}

.toggle-max {
  top: -8px;
  left: 216px;
}

/* Кнопки фильтра гостиниц */

.filter-apply-button {
  margin-top: 81px;
  height: 48px;
  width: 148px;
  font-size: 16px;
  line-height: 20px;
}

.filter-reset-button {
  margin-top: 15px;
  margin-left: 37px;
}


.button-reset {
  border: 3px solid transparent;
  background-color: transparent;
  text-transform: capitalize;
  padding: 3px 9px;
  margin: 0;
}

.button-reset:focus {
  border-color:#83B3D3;
  outline: 0;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:active {
  opacity: 0.3;
  border-color:transparent;
}

.button-reset:disabled:hover,
.button-reset:disabled:active,
.button-reset:disabled {
  border-radius: 4px;
  color: #E5E5E5;
  opacity: 0.3;
}

.hotels-sorting {
  display: flex;
  padding-top:60px;
  padding-bottom:60px;
}

.select-control {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  min-width: 290px;
  min-height:49px;
  padding: 12px 20px;
  border: 2px solid #E5E5E5;
  background-color: #FFFFFF;
  border-radius: 4px;
  margin-left: auto;
  margin-top: -6px;
  cursor:pointer;
}

.select-control:focus,
.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.select-control-arrow-right {
  background-image:url("../images/icon/arrow-right.svg");
  background-repeat:no-repeat;
  background-position: 258px 20px;
  appearance:none;
}

.card-container {
  display:flex;
  align-items:center;
  gap:8px;
  margin-left: 79px;
}

.card-grid-toogle {
  display: flex;
  justify-content: center;
  align-items:center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 44px;
  height: 44px;
  margin-top: -6px;
}


.card-grid-toogle-current {
  border-color: #000000;
}

.card-grid-toogle:hover {
  border-color: #000000;
}

.card-grid-toogle:focus {
  border-color: #68A2CA;
}

.card-grid-toogle:active {
  border-color:#000000;
}

.catalog-hotel {
  padding-left:70px;
  padding-right: 70px;
  color: #000000;
}

.hotels-found {
  text-transform: uppercase;
  margin: 2px 0 5px 4px;
  font-size: 30px;
  line-height: 36px;
}

.hotel-list-container {
  width: 1056px;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
}

.hotel-list {
  padding: 0;
  padding-bottom: 66px;
  display: grid;
  width: 1056px;
  grid-template-columns: 340px 340px 340px;
  gap: 18px;
  margin: 0;
  list-style-type: none;
}

.hotel-card {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  padding: 16px 24px 7px;
}

.hotel-card-title {
  font-size: 24px;
  margin-top: 11px;
  margin-bottom: 0;
}

.hotel-card-link {
  grid-column: 1 / -1;
  margin:0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-card-more {
  width: 110px;
}

.hotel-card-more:hover {
  background-color: #615048;
}

.hotel-card-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color:#756157;
}

.container-card-name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / -1;
  gap: 16px 20px;
}

.hotel-container-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / -1;
  gap: 16px 20px;
  align-self: end;
  align-items: start;
}

.container-rating {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / -1;
  gap: 16px 20px;
  align-self: end;
}

.rating-hotel-stars {
  align-items: center;
  display: flex;
}

.rating-hotel-stars::before {
  content:"";
  display: block;
  height:18px;
  background-image:url("../images/icon/stars.svg");
  background-repeat: repeat-x;
  background-position: left center;
}

.rating-hotel-stars-4::before {
  width: 90px;
}

.rating-hotel-stars-3::before {
  width:66px;
}

.rating-hotel-stars-2::before {
  width: 42px;
}

.rating-hotel {
  background:#dddddd;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 8px 22px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.pagination {
  width: 1060px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 7px;
  padding-bottom: 29px;
  border-top: 1px solid #E6E6E6;
  margin-top: 14px;
  padding-left: 4px;
}

.pagination-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.pagination-item:not(:last-child) {
 padding-right:8px;
}

.pagination-item {
  min-width: 60px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  padding: 12px 18px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color:#82B3D3;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}

.pagination-current {
  background-color:#F2F2F2;
  color:#000000
}

.holels-per-page {
  display: flex;
  justify-content: flex-end;
}

.holels-per-page-label {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.select-control-display {
  width: 160px;
  height: 49px;
  padding: 12px 18px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-left: 47px;
  cursor: pointer;
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: 'PT Sans',sans-serif;
  font-style: normal;
  margin-right: 4px;
}

.select-control:focus {
  border: 2px solid #3F5E72;
  border-radius: 4px;
}

.select-control-display:hover {
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.select-control:active {
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.select-control-display-icon {
  background-image:url("../images/icon/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 126px center;
  appearance:none;
}

.pagination-link:hover {
  background-color: #68A2CA;
  cursor: pointer;
}

a.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current:hover {
  color: #FFFFFF;
}

.subscribe-no-background {
  display: block;
  width: 800px;
  padding:68px 200px 93px;
  text-align: center;
  color: #333333;
  background-color:#FFFFFF;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

/* Модальное окно */

.modal-container {
  position: fixed;
  width:100%;
  height: 100%;
  top:0;
  left:0;
  display:flex;
  background: rgba(242, 242, 242, 0.8);
}

.modal {
  position:relative;
  margin:auto;
  padding:54px 70px 70px;
  background: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  width:575px;
}

/* кнопка закрыть  */

.modal-close-button {
  position: absolute;
  width:53px;
  height: 53px;;
  top: 54px;
  right: 70px;
  padding:0;
  background-color: #F2F2F2;
  border-radius:50%;
  border:3px solid transparent;
  background-image:url("../images/icon/cross-modal.svg");
  background-repeat:no-repeat;
  background-position: center;
  cursor: pointer;
  background-clip: content-box;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  border-color: #83B3D3;
  outline:none;
}

.modal-close-button:active {
  background-color:#E6E6E6;
  color:#000000;
  opacity:0.6;
  border:none;
}

.modal-title {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 8px 0 63px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  width: 420px;
  height: 20px;
  margin-left: 155px;
  padding: 0;
  text-transform: initial;
  color: #333333;
  margin-top:7px;
}

.text-error {
  color: #FF5757;
}

.field-group {
  position: relative;
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  margin: 0 auto 11px;
  width:100%;
  flex-wrap: wrap;
}

.field-group:nth-child(n+3) {
  width:50%;
}

.field-group-description {
  display: block;
  margin-right:auto;
  margin-top: 12px;
}

.field-group-description-last {
  margin-left: 57px;
  width: 72px;
}

/* Инпуты */

.input-form-field {
  background: #F2F2F2;
  border-radius: 4px;
  padding: 15px 0 14px 19px;
  width: 401px;
  height: 21px;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  cursor:pointer;
  border:none;
}

.input-form-field:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.input-form-field::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.input-form-field:hover {
  background: #E6E6E6;
}
.input-form-field:disabled:focus,
.input-form-field:disabled:hover,
.input-form-field:disabled {
  color: #161414;
  background-color: #F2F2F2;
  opacity: 0.5;
}

.input-form-field:not(:placeholder-shown) {
  background-color: #FFFFFF;
  outline: 2px solid #000000;
}

.amount-form-field {
  background: #F2F2F2;
  width: 45px;
  padding: 18px 0 14px;
  border: none;
  text-align: center;
  height: 21px;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.field-group-date:before {
  position:absolute;
  content:"";
  background-image:url("../images/icon/calendar-modal.svg");
  width: 15px;
  height: 15px;
  top: 17px;
  right: 19px;
}

/* Кнопка найти */

.button-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #83B3D3;
  border-radius: 10px;
  color: #FFFFFF;
  border: none;
  width: 100%;
  padding: 12px 26px;
  cursor: pointer;
  margin-top: 28px;
}

.button-modal:hover {
  background:#68A2CA;
}

.button-modal:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
  border-radius: 10px;
}

.button-modal:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
  outline:none;
}


.button-modal:disabled:hover,
.button-modal:disabled:active,
.button-modal:disabled {
  background-color: #E5E5E5;
  border-radius: 4px;
  color:#FFFFFF;
}

.auth-form {
  display: flex;
  flex-wrap: wrap;
}


/* Плюси и минусы */

.button-minus,
.button-plus {
  position: relative;
  margin: 0;
  padding: 0;
  width: 44px;
  background-color: #F2F2F2;
  border: none;
  appearance:none;
  cursor: pointer;
  height: 50px;
  border-radius:4px;
  outline:none;
}

.button-plus::before {
  content:"";
  width:39px;
  height:54px;
  display: block;
  opacity: 0.3;
  background-repeat:no-repeat;
  background-position:center;
  background-image: url("../images/icon/plus.svg");
}

.button-plus:hover::before {
  opacity:1;
}

.button-plus:focus:not(:active)::after {
  position: absolute;
  content:"";
  width: 16px;
  height: 16px;
  display: block;
  top: 14px;
  right: 11px;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-plus:active::before {
  opacity: 0.2;
}

.button-minus::before {
  content:"";
  width: 51px;
  height: 55px;
  display: block;
  opacity: 0.3;
  background-repeat:no-repeat;
  background-position:center;
  background-image:url("../images/icon/minus.svg");
}

.button-minus:hover::before {
  opacity:1;
}

.button-minus:focus:not(:active)::after {
  position: absolute;
  content:"";
  display: block;
  width: 16px;
  height: 16px;
  top: 14px;
  right: 11px;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-minus:active::before {
  opacity: 0.2;
}

.button-minus:disabled:active::before,
.button-minus:disabled:hover::before,
.button-minus:disabled {
  opacity:0.3;
}

.button-plus:disabled:active::before,
.button-plus:disabled:hover::before,
.button-plus:disabled {
  opacity:0.3;
}

.amount-form-field::-webkit-outer-spin-button,
.amount-form-field::-webkit-inner-spin-button{
  appearance:none;
}

.amount-group {
  display: flex;
  background-color:#F2F2F2;
  border-radius:4px;
}

/* Тултип */

.tooltip-toggle {
  border: none;
  padding: 0;
  display: inline-block;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #83B3D3;
  background-image:url("../images/icon/info.svg");
  background-repeat:no-repeat;
  background-position:center;
  outline:none;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.tooltip-toggle:hover,
.tooltip-toggle:focus {
  background-color: #68A2CA;
}

.tooltip-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: none;
  background: #333333;
  box-shadow: rgba(0, 0, 0, 0.3)
   inset 0px 15px 30px ;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 15px 18px 18px 22px;
  width: 216px;
  height: 110px;
  position:absolute;
  left: -115px;
  margin-top: 9px;
  z-index:1;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip {
  position: absolute;
  right: 18px;
  top: 17px;
}

.form-label-icon {
  position: relative;
  padding-right: 25px;
}

.tooltip-text:after {
  position: absolute;
  content:"";
  background-image:url("../images/icon/arrow-tooltip.svg");
  width: 19px;
  height: 9px;
  bottom: 100%;
  left: 22px;
  right: 23px;
  margin: 0 auto;
}

/* Отключение модального окна */

.model-container-close {
  display: none;
}
