@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin:0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color:#F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
  }

  /* Блок навигация */

.navigation {
  display:flex;
  height: 65px;
}

.navigation-logo {
  display: flex;
  margin-left:70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 390px;
  margin: 0 auto;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  min-width: 264px;
  flex-wrap: wrap;
  margin:0 auto;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding:20px;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

.navigation-user-item {
  min-width: 16px;
  min-height: 22px;
  padding:14px;
}

.button {
  padding: 8px 15px 9px;
  background: #756157;
  color: #FFFFFF;
  border: none;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

/* Блок Добро пожаловать */

.welcome-image {
  display: block;
  margin:0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.welcome {
  padding-left: 70px;
  padding-right: 70px;
  background-image: url(../images/sedona-background.jpg);
}

.title-sedona {
  display:block;
  flex-wrap: wrap;
  margin: 0 auto;
  min-height:282px;
  padding-right: 70px;
  padding-left: 70px;
}

/* Преимущества */

.advantages {
  text-align: center;
}

.advantages-main-title {
  padding-bottom:31px;
  padding-top: 63px;

}

.advantages-main-description {
  margin: 0 auto;
  padding-bottom: 90px;
}

.advantages-list {
  display:flex;
  flex-wrap:wrap;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
}

 .advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0 auto;
 }

.advantages-sublist {
  display: flex;
  margin: 0;
  padding: 0;
}

.advantages-list-container {
  width: 260px;
  padding-left: 70px;
  padding-right: 70px;
}

.advantages-title-sublist {
  padding-top: 31px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description-sublist {
  padding-bottom: 81px;
  padding-top: 30px;
  margin:0 auto;
  font-size: 18px;
  line-height: 21px;
}

.advantages-image {
  display: block;
}
.advantages-title {
  padding-top: 88px;
  padding-bottom: 30px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-number {
  font-size: 18px;
  line-height: 21px;
}

.advantages-main-description {
  font-size: 22px;
  line-height: 26px;
}

.advantages-item-highlight {
  width: 260px;
  background-color: #82B3D3;
  color: #FFFFFF;
  padding-left: 70px;
  padding-right: 70px;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-main-title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-description {
  padding-bottom: 88px;
  padding-top: 30px;
  margin:0 auto;
  font-size: 18px;
  line-height: 21px;
}

.search-hotel {
  display: block;
  width: 1060px;
  padding-bottom: 93px;
  padding-left: 70px;
  padding-right: 70px;
  background: #FFFFFF;
  text-align: center;
}

.search-hotel-title {
  padding-top: 91px;
  padding-bottom: 30px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-hotel-description {
  padding-bottom: 68px;
  margin: 0 auto;
  width: 592px;
  font-size: 22px;
  line-height: 26px;
}

.search-hotel-button {
  display: block;
  margin: 0 auto;
  width: 592px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}



.subscribe {
  display: block;
  width: 1060px;
  padding-bottom: 94px;
  padding-left: 70px;
  padding-right: 70px;
  text-align: center;
  color: #FFFFFF;
  background: url("../images/background-subscribe.jpg");
}

.subscribe-title {
  width: 404px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 94px;
  padding-bottom: 30px;
}

.subscribe-description {
  padding-bottom: 46px;
  margin: 0 auto;
  width: 475px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-field {
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  background: #F2F2F2;
  border-radius: 0 10px 10px 0;
}

.button-green {
  background-color: #7DB54F;
}

.button-blue {
  background-color: #82B3D3;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 10px 10px 0;
}

.footer-container {
  display:flex;
  width: 1060px;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
}

.footer-social-list{
  list-style-type: none;
  min-width:24px;
  min-height: 14px;
}

.footer-phone a {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-phone {
  padding-top: 30px;
  margin: 0 auto;
  width:331px;
}

.logo-html-academy {
  min-width: 115px;
  min-height: 33px;

}

.inner-header {
  margin: 0;
  color: #FFFFFF;
}

.inner-header-title {
  padding-top: 35px;
  padding-bottom: 10px;
  width:494px;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs{
  display:flex;
  padding: 0;
  margin: 0;
  list-style-type: none;

}
.breadcrumbs-link {
  margin-right:24px;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}


.main-inner-container {
  padding-left: 70px;
  padding-right: 70px;
  color: #FFFFFF;
  background: url("../images/catalog-background.jpg") no-repeat;
}

.hotel-sedona-filter {
  display: flex;
  justify-content: flex-start;
}

.filter-title {
  width: 146px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.filter-apply-button {
  padding: 14px 15px;
  font-size: 16px;
  line-height: 20px;
}

.hotels-sorting {
  display: flex;
  padding:60px 70px;
}

.select-control {
  width: 290px;
  height:48px;
  padding: 14px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin: 0 auto;
}

.button-card {
  width:48px;
  height:48px;
}

.button-slideshow {
  width:48px;
  height:48px;
}

.button-list {
  width:48px;
  height:48px;
}

.visually-hidden {
  display: none;
}

.catalog-hotel {
  color: #000000;
}

.hotels-found {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
}

.hotel-list-container {
  width: 1060px;
  margin-left: 93px;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.hotel-card {
  width: 340px;
  height: 438px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* хотел задать паддинги только 1 и 2 карточке в итоге последняя тоже с отступом */

.hotel-card:not(:nth-child(3n)) {
  padding-right: 10px;
}

.subscribe-no-background {
  display: block;
  width: 1060px;
  padding-left:70px;
  padding-right: 70px;
  text-align: center;
  color: #333333;
  background-color:#FFFFFF;
}

.hotel-card-link {
  padding-top: 20px;
  padding-left: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-card-more {
  padding: 8px 15px 9px;
}

.hotel-button-favorites {
  padding: 8px 15px 9px;
  font-size: 16px;
  line-height: 20px;
}

.pagination {
  width: 1060px;
  padding: 0 70px;
}

.pagination-list {
  display: flex;
  list-style-type: none;
  padding-top: 96px;
  margin: 0;
}

.pagination-item:not(:last-child) {
 padding-right:8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 19px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color:#82B3D3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-current {
  background-color:#F2F2F2;
  color:#000000
}

.holels-per-page {
  display: flex;
  justify-content: flex-end;
}

.holels-per-page-label {

  font-size: 18px;
  line-height: 21px;
}
