@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin:0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color:#F2F2F2;
}

.container {
    width: 1200px;
    margin: 0 auto;
  }

.navigation {
  display:flex;
  margin: 0;
  padding: 0;
}

.navigation-logo {
  display: block;
  margin-left:70px;
}

.navigation-list {
  display: flex;
  width:390px;
  margin-left: 30px;
  list-style: none;
}

.navigation-user {
  display:block;
  width:264px;
  margin-left:auto;
  margin-right:70px;
  list-style: none;
}
.navigation-link {
  display: block;
  padding:20px;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

.button {
  padding: 8px 15px 9px;
  background: #756157;
  color: #FFFFFF;
  border: none;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.welcome-image {
  display: block;
  margin:0 auto;
}

.welcome {
  padding-top: 51px ;
  padding-bottom: 82px;
  background-image: url(../images/sedona-background.jpg);
}

.title-sedona {
  display:block;
  width: 1200px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.advantages {
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
}

.advantages-list-order {
  display: flex;
}

.advantages-sublist {
  display: flex;
  width:1200px;
  padding: 0;
}

.advantages-list-container {
  padding:81px;
  width: 230px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-number {
  font-size: 18px;
  line-height: 21px;
}

.advantages-main-description {
  font-size: 22px;
  line-height: 26px;
}

.advantages-item-highlight {
  background: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-road {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-blue {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
}

.search-hotel {
  display: block;
  width: 1200px;
  height: 417px;
  background: #FFFFFF;
  text-align: center;
}

.search-hotel-title {
  padding-top:91px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-hotel-description {
  margin: 0 auto;
  width: 592px;
  padding-bottom: 68px;
  padding-top: 28px;
  font-size: 22px;
  line-height: 26px;
}

.search-hotel-button {
  display: block;
  margin: 0 auto;
  width: 592px;
  padding: 12px 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  display: block;
  width: 1200px;
  height:411px;
  text-align: center;
  color: #FFFFFF;
  background: url("../images/background-subscribe.jpg");
}

.subscribe-title {
  width: 404px;
  margin: 0 auto;
  padding-top: 94px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0 auto;
  width: 475px;
  padding-top: 29px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-field {
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  background: #F2F2F2;
  border-radius: 0 10px 10px 0;
}

.button-green {
  background-color: #7DB54F;
}

.button-blue {
  background-color: #82B3D3;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 10px 10px 0;
}

.footer-container {
  display:flex;
  width: 1060px;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
}

.footer-phone a {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-phone {
  margin: 0 auto;
  width:331px;
  padding:45px 0 35px;
}

.inner-header {
  color: #FFFFFF;
}

.inner-header-title {
  width:494px;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}


.main-inner-container {
  display: flex;
  color: #FFFFFF;
  background: url("../images/catalog-background.jpg") no-repeat;

}

.filter-title {
  width:146px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}


.filter-apply-button {
  padding: 14px 15px;
  font-size: 16px;
  line-height: 20px;
}

.catalog-hotel {
  color: #000000;
}

.hotels-found {
  font-size: 30px;
  line-height: 36px;
}

.select-control {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.hotel-list {
  display: flex;
  padding-right:73px;
  padding-left:0;
  font-size: 18px;
  line-height: 21px;
}

.hotel-card {
  width:340px;

}


.hotel-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-card-more {
  padding: 8px 15px 9px;
}

.hotel-button-favorites {
  padding: 8px 15px 9px;
  font-size: 16px;
  line-height: 20px;
}

.holels-per-page-label {
  font-size: 18px;
  line-height: 21px;
}
