@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin:0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color:#F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
  }

  /* Блок навигация */

.navigation {
  display:flex;
  height: 65px;
}

.navigation-logo {
  display: flex;
  margin-left:70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 390px;
  margin: 0 auto;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  min-width: 264px;
  align-items: center;
  flex-wrap: wrap;
  margin:0 auto;
  list-style-type: none;
}
.navigation-user-item-search{
  background-image:url("/images/icon/search.svg");
  background-repeat:no-repeat;
  background-position:18px 18px;
}

.navigation-user-item-favorite{
  background-image:url("/images/icon/favorite.svg");
  background-repeat:no-repeat;
  background-position:18px 18px;
}

.navigation-link {
  position: relative;
  display: block;
  padding:20px;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

.navigation-link-current::before {
  position: absolute;
  bottom:0;
  width:68px;
  height: 2px;
  background-color:#756257;
  content: "";
}

.navigation-button:hover {
  background-color: #615048;
}

.navigation-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.navigation-user-item {
  min-width: 16px;
  min-height: 22px;
  padding:14px;
}

.button {
  padding: 8px 15px 9px;
  background: #756157;
  color: #FFFFFF;
  border: none;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

/* Блок Добро пожаловать */

.welcome-image {
  display: block;
  margin:0 auto;
}

.welcome {
  min-height:428px;
  padding-top: 51px;
  padding-bottom: 82px;
  padding-left: 70px;
  padding-right: 70px;
  background-image: url(../images/sedona-background.jpg);
  background-color:#82B3D3;
  background-repeat: no-repeat;
  color:#F2F2F2;
  background-size: cover;
}

.title-sedona {
  display:block;
  flex-wrap: wrap;
  margin: 0 auto;
  min-height:132px;
  padding: 60px 70px 90px;
}

/* Преимущества Заголовок 1*/

.advantages {
  text-align: center;
}

.advantages-main-title {
  padding-bottom: 31px;
}

.advantages-main-description {
  margin: 0 auto;
}

/* Список преимуществ */

.advantages-item {
  display: flex;
  flex-wrap: wrap;
}

 .advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0 auto;
 }

.advantages-sublist {
  display: flex;
  margin: 0;
  padding: 0;
}

.advantages-sublist-container {
  min-width: 260px;
  padding: 80px 70px;
}

.advantages-sublist-container::before {
  content: "";
  display:block;
  width: 75px;
  height: 76px;
  margin: 0 auto 28px;
  background-repeat:no-repeat;
  background-position:center;
}

.advantages-sublist-container-home::before {
  background-image:url("../images/icon/home.svg");
}

.advantages-sublist-container-food::before {
  background-image:url("../images/icon/food.svg");
}

.advantages-sublist-container-souvenir::before {
  background-image:url("../images/icon/souvenir.svg");
}

.advantages-list-container {
  width: 230px;
  padding: 102px 84px;
  min-height: 180px;
}

.advantages-title-sublist {
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description-sublist {
  margin:0 auto;
  font-size: 18px;
  line-height: 21px;
}

.advantages-image {
  display: block;
}

.advantages-title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-number {
  display:block;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 21px;
}

.advantages-main-description {
  font-size: 22px;
  line-height: 26px;
}

.advantages-item-highlight {
  min-width: 260px;
  background-color: #82B3D3;
  color: #FFFFFF;
  padding: 88px 70px;
  min-height: 200px;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-main-title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
}

.search-hotel {
  display: block;
  min-width: 1060px;
  min-height:234px;
  padding: 90px 70px 93px;
  background: #FFFFFF;
  text-align: center;
}

.search-hotel-title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-hotel-description {
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 26px;
}

.search-hotel-button {
  display: block;
  margin: 0 auto;
  width: 592px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  cursor: pointer;
}

.search-hotel-button:hover {
  background-color:#615048;
}

.search-hotel-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.subscribe {
  display: block;
  min-width: 1060px;
  min-height: 223px;
  padding:94px 70px;
  text-align: center;
  color: #FFFFFF;
  background: url("../images/background-subscribe.jpg");
  background-color: #82B3D3;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0 auto;
  margin-bottom: 46px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-field {
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  background: #F2F2F2;
  border-radius: 0 10px 10px 0;
}

.button-green {
  background-color: #7DB54F;
  font-family: 'PT Sans';
  font-style: normal;
  cursor: pointer;
}

.button-green:hover {
  background-color:#6C9E42;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color:#7DB54F;
}

.button-blue {
  background-color: #82B3D3;
  font-family: 'PT Sans';
  font-style: normal;
  cursor: pointer;

}

.button-blue:hover {
  background-color: #68A2CA;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 10px 10px 0;
}

.footer-container {
  display:flex;
  width: 1060px;
  justify-content: space-between;
  align-items:center;
  padding:40px 70px 30px;
  height:50px
}

.footer-social-list{
  display: flex;
  justify-content: space-around;
  padding:0;
  align-items:center;
  list-style-type: none;
  min-width:142px;
  min-height:40px;
  margin-top:5px;
  margin-bottom:5px;
}

.footer-social-item {
  display: flex;
  width: 25px;
  height: 26px;
  align-items: center;
  padding: 13px 15px;
  }

.footer-social-copyright {
  margin-top:5px;
  margin-bottom:5px;
}

.icon-vk {
  fill:#83B3D3;
}

.icon-vk:hover {
  fill:#68A2CA;
}

.icon-vk:active {
  fill:rgba(104, 162, 202, 0.3);
}

.icon-telegramm {
  fill:#83B3D3;
}

.icon-telegramm:hover {
  fill:#68A2CA;
}

.icon-telegramm:active {
  fill:rgba(104, 162, 202, 0.3);
}

.icon-youtube {
  fill:#83B3D3;
}

.icon-youtube:hover {
  fill:#68A2CA;
}

.icon-youtube:active {
  fill:rgba(104, 162, 202, 0.3);
}

.footer-phone a {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-phone {
  width:331px;
  height:40px;
  margin-top:5px;
  margin-bottom:5px;
}

.footer-phone a:hover {
  color: #756157;
}

.footer-phone a:active {
  color: rgba(117, 97, 87, 0.3);
}

.logo-html-academy {
  min-width: 115px;
  min-height: 33px;
}

.logo-html-academy:hover {
  fill: #756157;
}

.logo-html-academy:active {
  fill: rgba(117, 97, 87, 0.3);
}

.inner-header {
  margin: 0;
  color: #FFFFFF;
}

.navigation-link-catalog::before {
  position: absolute;
  bottom:0;
  width:93px;
  height: 2px;
  background-color:#756257;
  content: "";
}

.inner-header-title {
  min-width:494px;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs {
  display:flex;
  align-items:center;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 40px;
  position: relative;
  list-style-type: none;
}

.breadcrumbs-link-home::before {
  content: "";
  display:block;
  width: 12px;
  height: 12px;
  background-repeat:no-repeat;
  background-position:center;
}

.breadcrumbs-link-home::before {
  background-image:url("../images/icon/breadcrumbs-home.svg");
  padding-right:10px;
}

.breadcrumbs-item:not(:last-child) {
  content: "";
  display:block;
  background-repeat:no-repeat;
  background-position:right;
  background-image:url("../images/icon/breadcrumbs-arrow.svg");
  padding-right:10px;
  margin-right:10px;
}

a.breadcrumbs-link-home:hover  {
  opacity:0.6;
}

a.breadcrumbs-link-home:active  {
  opacity:0.3;
}

a.breadcrumbs-link:hover {
  opacity:0.6;
}

a.breadcrumbs-link:active {
  opacity:0.3;
}

.breadcrumbs-link {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
}

.main-inner-container {
  padding: 35px 70px 70px;
  color: #FFFFFF;
  background: url("../images/catalog-background.jpg") no-repeat;
  background-size: cover;
  background-color: #6767d5;
  background-repeat: no-repeat;
}

.hotel-sedona-filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.filter {
  padding: 0;
  margin: 0;
  border: transparent;
}

.filter-list {
  list-style-type: none;
  padding:0;
}

.filter-title {
  width: 146px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.filter-apply-button {
  height: 48px;
  width: 148px;
  font-size: 16px;
  line-height: 20px;
}

.button-reset {
  border:none;
  background-color:transparent;
  padding:0;
  margin: 0;
  color:#FFFFFF;
  text-align: center;
  cursor: pointer;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.button-reset:active {
border: 3px solid #83B3D3;
border-radius: 4px;
}

.button-reset:hover {
  color: #FFFFFF;
  opacity: 0.6;
  }

.hotels-sorting {
  display: flex;
  padding-top:60px;
  padding-bottom:60px;
}

.select-control {
  width: 290px;
  height:50px;
  padding: 14px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin: 0 auto;
  cursor:pointer;
}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.select-control-arrow-right {
  background-image:url("../images/icon/arrow-right.svg");
  background-repeat:no-repeat;
  background-position: 258px 20px;
  appearance:none;
}

.card-container {
  display:flex;
  align-items:flex-start;
  gap:8px;
}

.card-grid-toogle {
  display: flex;
  justify-content: center;
  align-items:center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width:46px;
  height:46px;
}


.card-grid-toogle-current{
  border: 2px solid #000000;
  border-radius: 4px;
}

.card-grid-toogle:hover {
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.card-grid-toogle:active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.visually-hidden {
  display: none;
}

.catalog-hotel {
  padding-left:70px;
  padding-right: 70px;
  color: #000000;
}

.hotels-found {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
}

.hotel-list-container {
  width: 1056px;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
}

.hotel-list {
  padding: 0;
  padding-bottom: 66px;
  display: grid;
  width: 1056px;
  grid-template-columns: 340px 340px 340px;
  gap: 18px;
  margin: 0;
  list-style-type: none;
}

.hotel-card {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  padding: 20px;
}

.hotel-card-image {
  margin-bottom:16px;
}

.hotel-card-title {
  margin:0;
  margin-top: 16px;
  margin-bottom: 16px;
}

.hotel-card-link {
  grid-column: 1 / -1;
  margin:0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-card-more {
  width: 110px;
  height: 20px;
}

.hotel-card-more:hover {
  background-color: #615048;
}

.hotel-card-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color:#756157;
}

.container-card-name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / -1;
  gap: 16px 20px;
}

.hotel-container-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / -1;
  gap: 16px 20px;
  align-self: end;
}

.container-rating {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / -1;
  gap: 16px 20px;
  align-self: end;
}

.rating-hotel-stars {
  display: flex;
  align-items:center;
  justify-content:flex-start;
  gap:6px;
}

.star {
  background-image:url("../images/icon/stars.svg");
  background-repeat:no-repeat;
  background-size:cover;
  width:18px;
  height: 17px;
}

.rating-hotel {
  background:#dddddd;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 8px 22px;
  font-size: 16px;
  line-height: 20px;
}

.pagination {
  width: 1060px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.pagination-list {
  display: flex;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
 padding-right:8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 19px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color:#82B3D3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-current {
  background-color:#F2F2F2;
  color:#000000
}

.holels-per-page {
  display: flex;
  justify-content: flex-end;
}

.holels-per-page-label {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.select-control-display {
  width: 160px;
  height: 49px;
  padding:14px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-left:51px;
  cursor: pointer;
}

.select-control-display-icon {
  background-image:url("../images/icon/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 128px center;
  appearance:none;
}

.pagination-link:hover {
  background-color: #68A2CA;
  cursor: pointer;
}

a.pagination-link:active{
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current:hover {
color: #FFFFFF;
}
.subscribe-no-background {
  display: block;
  width: 800px;
  padding:90px 200px;
  text-align: center;
  color: #333333;
  background-color:#FFFFFF;
}

.subscribe-form {
  margin-bottom: 94px;
}
